_site
.sass-cache
Gemfile.lock
*.gem
.jekyll-cache
.DS_Store
data/*
incomplete/*
!data/.placeholder
debug_play/*
/.idea/.gitignore
/.idea/CRCNS-geha-master.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
